PORT=5000
ASPNETCORE_ENVIRONMENT=Development
DATABASE_URL=Host=localhost;Database=sas_vendas;Username=postgres;Password=postgres
ConnectionStrings__DefaultConnection=Host=localhost;Database=sas_vendas;Username=postgres;Password=postgres
Jwt__Secret=change-me-to-a-very-long-secret-key
Jwt__Issuer=SasVendas
Jwt__Audience=SasVendas.Users
POSTGRES_DB=sas_vendas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
